@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');
</style>

body {
    margin: 0;
    padding: 0;
    
  }
*{
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}


/*HERO*/
#hero{
    background-image: url("./img/pexels-valeria-boltneva-1639557.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    
    
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}

#hero > .hero{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: flex-start;
    
}
.padding-hero{
    padding: 10vw;
    
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_show .5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1){
    animation-delay: 1.5s;
}
#hero h1:nth-child(2){
    animation-delay: 2.5s;
}

#hero h1:nth-child(1) span{
    animation-delay: 1s;
}
#hero h1:nth-child(2) span{
    animation-delay: 2s;
}


.cta{
    display: inline-block;
    padding: 10px 30px;
    color: #20a39e;
    background: transparent;
    border: 2px solid #20a39e;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color ;
    margin-bottom: 40px;
    
}
.cta:hover{
    color: white;
    background: #20a39e;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #20a39e;
    animation: text_animation 1s ease;
    animation-delay: 1s;
}
/*HERO*/

/*MENU*/



#menu .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#menu .menu1{
    flex-direction: column;
    text-align: center;
    
    margin: 0 auto;
    padding: 100px 0;
}

#menu .menu-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;;
    letter-spacing: .05rem;
    padding: 70px;
    background: #86c7dd;
}

#menu .menu-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#menu .menu-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url("./img/sss.jpeg");
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 30px;
}

#menu .menu-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
    z-index: -1;
}

#menu .menu-item h2{
    color: rgb(241, 231, 231);
    font-size: 2rem;
}

#menu .menu-item p{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: lighter;
}






/*MENU*/


/*offerts*/

.offert{
    position: absolute;
    top: 0px;
}


.offert h1{
    font-size: 4rem;
    margin-bottom: 40px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    
 
}


#offerts .container{
    padding-top: 150px;
    position: relative;
    flex-wrap: wrap;
    
    
    
}

.pizza{
    background-image: url("./img/pizza.jpeg");
    
}

.hamburger{
    background-image: url("./img/hamburger.jpeg");
    
}

.pancakes{
    background-image: url("./img/pancakes.jpeg");
    
}

.pancakes h1{
    margin-bottom: 60%;
}

.text{
    margin-bottom: 60px;
    color: rgb(51, 42, 35);
}

.offert h1{
    padding: 25px;    
}

.offert-item{
    
    height: 700px;
    width: 800px;
    margin: 1rem 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    color: blanchedalmond;
    letter-spacing: 0.4rem;
    text-transform: uppercase;

    transition: transform .2s ease;
  
    
}

.offert-item:hover{
    transform: scale(1.03);
}


/*offerts*/

/*about*/


#about .about{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    
    
}

#about .col-left{
    width: 250px;
    height: 360px;
    overflow: hidden;
    
}

.about-us-img
{
    margin-top: 70px;
    width: 250px;
    height: 360px;
    transition: transform .2s;
    
    
}

.about-us-img:hover{
    transform: scale(1.06);
}

#about .col-right h1{
    color: rgb(31, 31, 34);
    font-size: 5rem;
    letter-spacing: 0.2rem;
    font-weight: lighter;
    padding-bottom: 10px;

}


#about .col-right p{
    letter-spacing: 0.05rem;
    font-size: 1.5rem;
    font-weight: lighter;
    color: rgb(34, 34, 37);
    margin-bottom: 40px;
    padding: 70px;
    background: #86c7dd;
}



#about .col-right h2 {
    font-size: 2.5rem;
    color: rgb(43, 88, 105);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding-bottom: 10px;
    padding-bottom: 30px;
}







/*about*/

/*contact*/



#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    
}

#contact .contact-items{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#contact .contact-item{
    width: 70%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 15px rgb(185, 178, 178);
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover{
    box-shadow: 0px 0px 3px 0 rgb(190, 181, 181);
}

.contact > div > h1{
    font-size: 3rem;
    letter-spacing: 0.3rem;
    font-weight: lighter;
}

.contact > div > h1 > span{
    color: rgb(43, 88, 105);
}

#contact .contact-item h1{
    color: rgb(43, 88, 105);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

#contact .contact-item h2{
    font-weight: lighter;
    letter-spacing: 0.1rem;
    
}

#contact{
    margin-top: -40px;
}


/*contact*/

/*footer*/
#footer {
    background: linear-gradient(60deg, #4ba1e7, #6db7f3, #7cbcf0);
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2{
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#footer .social-icon{
    display: flex;
}

.brand{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
#footer p{
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: blanchedalmond;
}



/*footer*/

/*animation*/
@keyframes text_animation{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_show{
    100%{
        color: white;
    }
}
/*animation*/



/* MOBILE */


@media screen and (max-width: 500px) {
    .offert-item{
        font-size: 2rem;

    }
    

    .offert h1{
        font-size: 2.5rem;   
         
         
          
    }
    #menu .section-title{
        font-size: 3rem;
        
    }
    #contact .contact-item h2{
        
        font-size: 1.3rem;
        
    }
    #contact .contact-items{
        width: 90vw;
    }
    #footer h2{
        font-size: 1.3rem;
    }
    .brand{
        font-size: 1.8rem;
    }
    #footer p{
        font-size: 0.7rem;
    }
    #about .cta{
        font-size: 1.5rem;
    }
    #footer .footer{
        min-height: 100px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 30px;
    }
}


/* MOBILE */

/* DESKTOP */
@media only screen and (min-width:1000px){
    .cta{
        font-size: 4rem;
    }
    #hero h1{
        font-size: 6rem;
    }
    #menu .section-title{
        font-size: 10rem;
        
    }
    #menu .menu-top p{
        font-size: 4rem;
        line-height: 7rem;
        letter-spacing: 0.09rem;
        
       
    }
    #menu .menu-bottom .menu-item{
        flex-basis: 40%;
        margin: 2%;
        min-height: 400px;
        
        
    }

    #menu .menu-bottom .menu-item h2{
        font-size: 4rem;
        padding-bottom: 20px;
    }
    #menu .menu-bottom .menu-item p{
        font-size: 2rem;
        
    }
    #offerts .offert h1{
        font-size: 6rem;
    }
    #about .col-right p{
        padding-left: 200px;
        padding-right: 200px;
        font-size: 4rem;
        
    }
    #about .col-right h1{
        font-size: 8rem;
    }
    #about .col-right h2 {
        font-size: 5rem;
        
        
    }
    #about .col-left{
        width: 450px;
        height: 660px;
        overflow: hidden;
        
    }
    
    .about-us-img
    {
        margin: 0;
        width: 450px;
        height: 660px;
        transition: transform .2s;
        
        
    }
    .contact > div > h1{
        font-size: 8rem;
        margin-top: 300px;
    }
    #contact .contact-items{
        
        width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #contact .contact-item{
        height: 600px;
        
    }
    #contact .contact-item h1{
        font-size: 6.5rem;
    }
    #contact .contact-item h2{
        padding-top: 20px;
        font-size: 3rem;
        
    }
    #footer h2{
        font-size: 3rem;
    }
    .brand{
        font-size: 4rem;
    }
    #footer p{
        font-size: 2rem;
    }
    #about .cta{
        font-size: 3rem;
    }
   
    
    
}


/* DESKTOP */
